/* Spacing */ 


.tiny-pd {
    padding: .2em .4em;
}

.small-pd {
    padding: .5em 1.4em;
}

.medium-pd {
    padding: .8em 1.4em;

    @media #{$phone} {
        padding: .5rem;
    }
}

.large-pd {
    padding: 1.2em 2.2em;

    @media #{$phone} {
        padding: 1rem;
    }
}

.tiny-mg {
    margin: .2em .4em;
}

.small-mg {
    margin: .2rem .4rem;
}

.medium-mg {
    margin: .7rem 1rem; 

    @media #{$phone} {
        margin: .5rem;
    }
}

.large-md {
    margin: 1.2rem 2.2rem; 

    @media #{$phone} {
        padding: .8rem;
    }
}

.small-top-mg {
    margin-top: .5rem;
}

.small-bottom-mg {
    margin-bottom: .5rem;
}

.large-bottom-mg {
    margin-bottom: 1.5rem;
}

/* Text + Alignment */ 

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.default-font-size {
    font-size: $default-font;
}

.mobile-font-size {
    font-size: $mobile-font;
}

.header-text {
    font-size: 36px;
    font-weight: bold;
    position: relative; 

    &::before {
        content: '';
        position: absolute;
        background-color: $secondary;
        width: 5%;
        min-width: 60px;
        height: 4px;
        top: -10px;
        left: 0;
    }

    @media #{$phone} {
        font-size: $default-font;
    }
}

/* Color */

.primary-color {
    color: $primary; 
}

.secondary-color {
    color: $secondary;
}

.accent-color {
    color: $accent; 
}

.grey-color {
    color: $grey;
}

.error-color {
    color: $red;
    font-weight: bolder;
}

/* Sizing */ 

.overflow-auto {
    overflow-x: auto;
}

.full-container {
    height: 100vh; 
    width: 100vw; 
}

.flex-center {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.small-size {
    height: 50px;
    width: 50px;
}

/* Images */

.small-img {
    width: 42px; 
    height: 42px;
}

/* Visibility */

.hide-mobile {
    @media #{$phone} {
        display: none;
    }
}

/* Other */

.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.round-shape {
    border-radius: 50%;
}